$colorLetras: white;
@mixin colorGeneral {
  background: rgb(222, 235, 60);
  background: linear-gradient(
    90deg,
    rgba(222, 235, 60, 1) 0%,
    rgba(0, 212, 255, 1) 100%,
    rgba(35, 36, 0, 1) 100%
  );
  font-family: "Muli", sans-serif;
}

body {
  @include colorGeneral;
  margin: 0;
  //font-family: "Muli", sans-serif;
}

.header {
  align-items: center;

  color: $colorLetras;
  display: flex;
  height: 100px;
  justify-content: space-between;
  top: 0px;
  width: 100%;
  padding-bottom: 120px;
}

.header__img {
  margin-left: 30px;
  width: 200px;
}

.header__menu {
  margin-right: 30px;
}

.header__menu ul {
  display: none;
  list-style: none;
  margin: 0px 0px 0px -14px;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
}

.header__menu:hover ul,
ul:hover {
  display: block;
}

.header__menu li {
  margin: 10px 0px;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 40px;
}

.container {
  color: white;
  display: flex;
  flex-direction: column;
  animation-name: pulse;
  animation-duration: 2s;
  justify-items: center;
  text-align: center;
  //font-family: "Muli", sans-serif;
}
.container h1 {
  font-size: 100px;
  padding-bottom: 0px;
  //font-family: "Muli", sans-serif;
  margin: 0px;
}
.container_h5 {
  font-size: 10px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.footer {
  align-items: center;
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  text-align: center;
}
